/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

html,
body {
    height: 100%;
}

body {
    padding-top: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #222;
    color: #FFFFFF;
}

.container {
    width: 100%;
}

.btn {
    border-radius: 0;
}

.btn-default,
.form-control {
    background: rgba(0, 0, 0, 0.8);
    color: #CCCCCC;
    border-color: #222222;
    border-radius: 0;
}

.btn-default:hover {
    background: #FFFFFF;
    color: #000000;
    border-color: #222222;
}
/*
.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }*/

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}

#app-container {
    height: 100%;
    z-index: 501;
}
/*INDEX*/

#index-container {}

#index-background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: .3;
    z-index: -1;
}

#index-background img {
    width: 100%;
}

#index-title {
    font-size: 160px;
}

#index-subtitle {
    font-size: 100px;
    font-style: normal;
    font-weight: 300;
}

@media (max-width: 800px) {
    #index-background img {
        width: 1200px;
    }
    #index-title {
        font-size: 80px;
    }
    #index-subtitle {
        font-size: 60px;
    }
}

@keyframes cf4FadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#index-background img {
    animation-duration: 24s;
    animation-iteration-count: infinite;
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    /*animation-direction: alternate;*/
    
    z-index: 0;
}

#index-background img {
    position: absolute;
    left: 0;
}

#index-background img:nth-of-type(1) {
    animation-delay: 18s;
}

#index-background img:nth-of-type(2) {
    animation-delay: 12s;
}

#index-background img:nth-of-type(3) {
    animation-delay: 6s;
}

#index-background img:nth-of-type(4) {
    animation-delay: 0;
}
/*LOGIN*/

#login-container {
    /*width: 800px;*/
    
    margin-left: auto;
    margin-right: auto;
}

#flash-error,
#flash-notice {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

#flash-error {
    background: rgba(255, 0, 0, 0.5);
}

#flash-message {
    background-color: #000;
}

#form_error {
    text-align: left;
}
/*player*/

#player-side {
    /*background-color: red;*/
    
    width: 200px;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    padding: 10px;
}

#player {
    margin-left: auto;
    margin-right: auto;
}

#player-content {
    background-color: #000;
    position: absolute;
    right: 0;
    top: 50px;
    width: calc(100% - 220px);
    bottom: 0;
    padding-top: 0px;
    overflow: auto;
}

#player-content .table-hover > tbody > tr:hover {
    color: #FFFFFF;
    opacity: 1;
    background-color: transparent;
}

#player-content .table-hover > tbody > tr {
    opacity: 0.7;
}

.player-list-actions {
    opacity: 0;
}

tr:hover .player-list-actions {
    opacity: 1;
}

.player-list-actions i {
    cursor: pointer;
}

@media (max-width: 600px) {
    #player-side {
        left: 0;
        bottom: 0;
        height: 100px;
        padding: 10px;
        z-index: 100;
        width: 100%;
        top: calc( 100% - 100px);

    }
    #player-content {
        background-color: #000;
        position: absolute;
        right: 0;
        left: 0;
        top: 50px;
        width: 100%;
        bottom: 100px;
        padding-top: 0px;
        overflow: auto;
    }
}
